<mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>{{activity.activityName}}</mat-card-title>
      <mat-card-subtitle>Activity ID : {{activity.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.camt.cmu.ac.th/th/logo/camt_vertical.jpg" alt="Prayuth">
    <mat-card-content>
      <p>Description : {{activity.activityDescription}}</p>
      <p>Date : {{activity.ActivityDate}}</p>
      <p>Host Teacher : {{activity.hostTeacher}}</p>
      <p>Location : {{activity.activityLocation}}</p>
      <p>Registration Time : {{activity.periodRegistration}}</p>
      <p>Time : {{activity.activityTime}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab	b [routerLink]="['/student/activity']">Back</button>
      <button mat-mini-fab	 (click)="Enroll(activity)" [routerLink]="['./enrolled']">Enroll</button>
    </mat-card-actions>
  </mat-card>
  

  