/* .sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
} 

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}
*/

.menu-spacer {
    flex: 1 1 auto;
}

.btn {
    position: absolute;
    margin-top: -18px;
}

.logoutBtn {
    right: 15px;
}

.reqBtn {
    right: 115px;
}

.menuList {
    position: absolute;
    right: 225px;
}

.btmBtn {
    position: absolute;
    bottom: 10%;
}


/* mat-toolbar {
    height: 64px;
    position: fixed;
    z-index: 100;
    width: 100% !important;
} */