<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button>
        <span>Teacher</span>
        <span class="menu-spacer"></span>
        <div class="menuList" fxShow="true" fxHide.lt-md>
            <!-- The following menu items will be hidden on both SM and XS screen sizes -->
            <a [routerLink]="['./activitylist']" routerLinkActive="router-link-active" mat-button>Activity</a>
            <a [routerLink]="['./studentlist']" routerLinkActive="router-link-active" mat-button>Student</a>
            <a [routerLink]="['./pendinglist']" routerLinkActive="router-link-active" mat-button>Pending</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a style="margin-left: 200px;"></a>
            <a [routerLink]="['./activitylist']" routerLinkActive="router-link-active" mat-list-item>Activity       </a>
            <a [routerLink]="['./studentlist']" routerLinkActive="router-link-active" mat-list-item>Student</a>
            <a [routerLink]="['./pendinglist']" routerLinkActive="router-link-active" mat-list-item>Pending</a>
            <a class="btmBtn" (click)="sidenav.toggle()" mat-list-item>Close</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>