<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Learning Through Activity</span>
      <div id="menu">
          <a [routerLink]="['./activity']" routerLinkActive="router-link-active" mat-button>Activities</a>
          <a [routerLink]="['./profile/5']" routerLinkActive="router-link-active" mat-button>Updata Student Information</a>
          <a [routerLink]="['./enrolled']" routerLinkActive="router-link-active" mat-button>enrolled List</a>
        
  
        </div>

    </mat-toolbar>

    <div>
        <button mat-raised-button class="btn logoutBtn" [routerLink]="['/login']" style="align-self: center">Log out</button>
    </div>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>