<mat-grid-list cols="1" rowHeight="fit">
    <mat-grid-tile>
        <div class="form-login">
            <div class="example-container">
                <mat-form-field color="warn">
                    <input matInput placeholder="Email" [formControl]="email" [(ngModel)]="Email">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field color="warn">
                    <input matInput placeholder="Password" [(ngModel)]="password" [type]="hide ? 'password' : 'password'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  </button>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Authentication" [(ngModel)]="role">
                        <mat-option value="teacher">Teacher</mat-option>
                        <mat-option value="student">Student</mat-option>
                        <mat-option value="admin">Admin</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-flat-button color="warn" (click)="login()">Login</button>
                <div class="signup-text"><a [routerLink]="['/register']" routerLinkActive="router-link-active">Sign up</a></div>


            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>